<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navigation :: navi(Books)}"></div>
<h2 align="center" style="color:Black">Books</h2>
<table class="text-center align-middle" border="2">
    <tr>
        <th align="center">Title</th>
        <th align="center">User_id</th>
        <th align="center">Username</th>
    </tr>
    <tr th:each="book : ${usersBooks}">
        <td th:text="${book.title}">title</td>
        <td align="center" th:text="${book.getUser.id}">user_id</td>
        <td align="center" th:text="${book.getUser.username}">username</td>
    </tr>
    <tr th:each="book : ${availableBooks}">
        <td  th:text="${book.title}">title</td>
    </tr>
</table>
</body>
</html>